/node_modules
/public/hot
/public/storage
/public/js/app.js
/public/css/app.css
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
phpcbf.phar
phpcs.phar
.php_cs.cache
auth.json
package-lock.json