
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// fontawesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

html, body, #app {
  @include size(100%, 100%);
  font-family: $font-family-sans-serif;
  margin: 0 !important;
}